# Local .terraform directories
.terraform/
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash log files
crash.log

# Ignore .terraformrc and override files
.terraformrc
terraform.rc
